.ings-container {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 40px;
  /* padding: 20px; */
  border-radius: 10px;
  /* width: 75%; */
  justify-content: center;
}

button {
  margin: 0px 10px 0px 10px;
}

.search-filter {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 5px;
}
.search-bar {
  display: flex;
}

label.filter-title {
  font-weight: bold;
}

table {
  font-weight: bold;
}
