.menus-container {
  /* display: flex; */
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* margin-right: 80%; */
  /* border: 2px solid black; */
}

.nav-buttons-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  /* width: 10%; */
  padding: 5px;
  margin: 5px;
  color: white;
}

.homebutton {
  font-style: italic;
  font-weight: bolder;
  font-size: large;
  margin: 10px;
}

.navish {
  display: flex;
}

.navbutton {
  /* background-color: rgb(232, 232, 232); */
  margin: 10px;
  font-weight: bold;
}
.navbutton:hover {
  cursor: pointer;
}

.main-container {
  /* padding: 10px; */
  /* display: flex; */
  /* flex-direction: column; */
}

.bars-selection {
  /* margin: 100px 500px 100px 500px; */
  padding: 10px;
  /* border: 2px solid black; */
  border-radius: 5px;
  /* width: 1500px auto; */
  justify-content: center;
}

.products-container {
  transition-property: all;
  transition-delay: 0s;
}

.barbutton {
  margin: 10px;
}
